@import 'nib'

$fontBase = 'bree_rgbold', Arial;
$fontBaseLight = 'bree_ltlight', Arial;

.clearfix
  clearfix()

body
  background #fff url(../images/bg_footer.png) repeat-x bottom
  font-family $fontBase
  font-smoothing(antialiased)
  font-size 1em
  width 100%
  height 100%
  height 100vh
    
.fade-in-page
  animation fade-in ease-in 2s both

@keyframes fade-in {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

li
  list-style none
  
header
  background url(../images/bg_header.png) repeat-x
  width 100%
  height 12.563em
  clearfix()
  
  & h1
    margin 0
    
    & img
      width 128px
      height 164px
      margin 1.125em auto
      position: relative;
      margin-left -64px
      left 50%

section
  width 100%
  max-width 787px
  min-width 320px
  margin 10px auto
  position relative
  & h2
    text-align center
    font-size 2.250em
    padding-bottom 40px
  & span
    background-color #4cae32
    color #fff
    padding 5px
  & div
    width 50%
    float left
    font-family $fontBaseLight
    text-align center
    position relative
    padding-bottom 100px
    & p
      color #606060
      font-size 20px
      width 70%
      margin 20px auto
      & .icon_banana_top
        background url(../images/icon_banana_top.png) no-repeat
        width 32px
        height 45px
        display block
        float left
        position relative
        top -15px
      & .icon_banana_bottom
        background url(../images/icon_banana_bottom.png) no-repeat
        width 24px
        height 27px
        display inline-flex
        position relative
        bottom -10px
    & h3
      color #4cae32
      font-size 20px
    & h4
      color #606060
      font-size 16px
      margin 5px 0 15px 0
    & ul
      border-top 1px solid #606060
      width 70%
      margin 0 auto
      padding 10px 0 0 0
    & li
      margin-bottom 5px
      & a
        text-decoration none
        color #606060
        & img
          line-height 0
          overflow hidden
          white-space nowrap
          position relative
          top 4px